{
  "openapi": "3.0.4",
  "info": {
    "title": "NEIS School and Meal Information API",
    "description": "OpenAPI specification generated from the NEIS school information and meal service diet information spreadsheets in this directory. NEIS can return application-level errors in an HTTP 200 response through the top-level RESULT object.",
    "version": "1.0.0",
    "license": {
      "name": "NEIS Open Data Usage Policy",
      "url": "https://open.neis.go.kr/"
    }
  },
  "servers": [
    {
      "url": "https://open.neis.go.kr",
      "description": "NEIS Education Information Open Portal"
    }
  ],
  "tags": [
    {
      "name": "Schools",
      "description": "School basic information"
    },
    {
      "name": "Meals",
      "description": "School meal service diet information"
    }
  ],
  "security": [
    {
      "NeisApiKey": []
    }
  ],
  "paths": {
    "/hub/schoolInfo": {
      "get": {
        "tags": [
          "Schools"
        ],
        "summary": "Search school basic information",
        "description": "Returns schools matching the optional education office, school code, school name, school type, location, and foundation filters.",
        "operationId": "getSchoolInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/Key"
          },
          {
            "$ref": "#/components/parameters/Type"
          },
          {
            "$ref": "#/components/parameters/PageIndex"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "ATPT_OFCDC_SC_CODE",
            "in": "query",
            "required": false,
            "description": "시도교육청코드. 학교를 관리하는 시도교육청 기관코드입니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SD_SCHUL_CODE",
            "in": "query",
            "required": false,
            "description": "행정표준코드. 학교의 행정표준코드입니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SCHUL_NM",
            "in": "query",
            "required": false,
            "description": "학교명 또는 학교명 일부입니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SCHUL_KND_SC_NM",
            "in": "query",
            "required": false,
            "description": "학교종류명입니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LCTN_SC_NM",
            "in": "query",
            "required": false,
            "description": "학교가 소속된 시도명입니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FOND_SC_NM",
            "in": "query",
            "required": false,
            "description": "설립주체에 따른 설립명입니다.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "정상 학교정보 응답 또는 RESULT 객체로 전달되는 NEIS 업무 오류 응답입니다.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SchoolInfoResponse"
                    },
                    {
                      "$ref": "#/components/schemas/NeisResultResponse"
                    }
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SchoolInfoResponse"
                    },
                    {
                      "$ref": "#/components/schemas/NeisResultResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/hub/mealServiceDietInfo": {
      "get": {
        "tags": [
          "Meals"
        ],
        "summary": "Get school meal service diet information",
        "description": "Returns meal information for a school. The education office code and school code are required; meal type and serving dates are optional filters.",
        "operationId": "getMealServiceDietInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/Key"
          },
          {
            "$ref": "#/components/parameters/Type"
          },
          {
            "$ref": "#/components/parameters/PageIndex"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "ATPT_OFCDC_SC_CODE",
            "in": "query",
            "required": true,
            "description": "시도교육청코드입니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SD_SCHUL_CODE",
            "in": "query",
            "required": true,
            "description": "학교의 행정표준코드입니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MMEAL_SC_CODE",
            "in": "query",
            "required": false,
            "description": "식사구분코드입니다. 일반적으로 1은 조식, 2는 중식, 3은 석식입니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MLSV_YMD",
            "in": "query",
            "required": false,
            "description": "급식일자이며 YYYYMMDD 형식입니다.",
            "schema": {
              "$ref": "#/components/schemas/DateYmd"
            }
          },
          {
            "name": "MLSV_FROM_YMD",
            "in": "query",
            "required": false,
            "description": "급식 조회 시작일자이며 YYYYMMDD 형식입니다.",
            "schema": {
              "$ref": "#/components/schemas/DateYmd"
            }
          },
          {
            "name": "MLSV_TO_YMD",
            "in": "query",
            "required": false,
            "description": "급식 조회 종료일자이며 YYYYMMDD 형식입니다.",
            "schema": {
              "$ref": "#/components/schemas/DateYmd"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "정상 급식정보 응답 또는 RESULT 객체로 전달되는 NEIS 업무 오류 응답입니다.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MealServiceDietInfoResponse"
                    },
                    {
                      "$ref": "#/components/schemas/NeisResultResponse"
                    }
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MealServiceDietInfoResponse"
                    },
                    {
                      "$ref": "#/components/schemas/NeisResultResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "NeisApiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "Key",
        "description": "NEIS 인증키입니다. 키는 시크릿 저장소에서 관리하고 명세나 소스 코드에 직접 저장하지 않습니다."
      }
    },
    "parameters": {
      "Key": {
        "name": "Key",
        "in": "query",
        "required": true,
        "description": "NEIS 인증키입니다. 실제 키를 소스 코드나 명세 파일에 저장하지 마세요. 샘플 요청에는 sample을 사용할 수 있습니다.",
        "schema": {
          "type": "string",
          "format": "password"
        }
      },
      "Type": {
        "name": "Type",
        "in": "query",
        "required": true,
        "description": "응답 문서 형식입니다.",
        "schema": {
          "type": "string",
          "enum": [
            "xml",
            "json"
          ],
          "default": "xml"
        }
      },
      "PageIndex": {
        "name": "pIndex",
        "in": "query",
        "required": true,
        "description": "페이지 위치입니다. sample 키 사용 시 1로 고정됩니다.",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "default": 1
        }
      },
      "PageSize": {
        "name": "pSize",
        "in": "query",
        "required": true,
        "description": "페이지당 요청 건수입니다. 한 번에 최대 1,000건이며 sample 키 사용 시 5로 고정됩니다.",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 1000,
          "default": 100
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "필수값 누락, 잘못된 페이지 값, 최대 요청 건수 초과 또는 잘못된 서비스 요청입니다.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NeisResultResponse"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/NeisResultResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "인증키가 없거나 유효하지 않거나 사용이 제한되었습니다.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NeisResultResponse"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/NeisResultResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "일별 트래픽 제한을 초과했습니다.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NeisResultResponse"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/NeisResultResponse"
            }
          }
        }
      },
      "ServerError": {
        "description": "NEIS 서버, 데이터베이스 또는 SQL 처리 오류입니다.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NeisResultResponse"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/NeisResultResponse"
            }
          }
        }
      },
      "UnexpectedError": {
        "description": "예상하지 못한 오류 응답입니다.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NeisResultResponse"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/NeisResultResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "DateYmd": {
        "type": "string",
        "pattern": "^[0-9]{8}$",
        "example": "20260814"
      },
      "NeisResult": {
        "type": "object",
        "description": "NEIS 처리 결과입니다. 주요 코드는 INFO-000(정상), INFO-200(자료 없음), INFO-300(키 사용 제한), ERROR-290(키 오류), ERROR-300(필수값 누락), ERROR-310(서비스 없음), ERROR-333(페이지 값 오류), ERROR-336(최대 건수 초과), ERROR-337(트래픽 초과), ERROR-500(서버 오류), ERROR-600(데이터베이스 오류), ERROR-601(SQL 오류)입니다.",
        "required": [
          "CODE",
          "MESSAGE"
        ],
        "properties": {
          "CODE": {
            "type": "string",
            "description": "NEIS 결과 코드입니다.",
            "example": "INFO-000"
          },
          "MESSAGE": {
            "type": "string",
            "description": "NEIS 결과 메시지입니다.",
            "example": "정상 처리되었습니다."
          }
        }
      },
      "NeisResultResponse": {
        "type": "object",
        "required": [
          "RESULT"
        ],
        "properties": {
          "RESULT": {
            "$ref": "#/components/schemas/NeisResult"
          }
        }
      },
      "TotalCountHeader": {
        "type": "object",
        "required": [
          "list_total_count"
        ],
        "properties": {
          "list_total_count": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "전체 조회 결과 건수입니다."
          }
        }
      },
      "ResultHeader": {
        "type": "object",
        "required": [
          "RESULT"
        ],
        "properties": {
          "RESULT": {
            "$ref": "#/components/schemas/NeisResult"
          }
        }
      },
      "Head": {
        "type": "array",
        "minItems": 2,
        "items": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/TotalCountHeader"
            },
            {
              "$ref": "#/components/schemas/ResultHeader"
            }
          ]
        }
      },
      "SchoolInfoResponse": {
        "type": "object",
        "required": [
          "schoolInfo"
        ],
        "properties": {
          "schoolInfo": {
            "type": "array",
            "minItems": 2,
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SchoolInfoHeadSection"
                },
                {
                  "$ref": "#/components/schemas/SchoolInfoRowSection"
                }
              ]
            }
          }
        }
      },
      "SchoolInfoHeadSection": {
        "type": "object",
        "required": [
          "head"
        ],
        "properties": {
          "head": {
            "$ref": "#/components/schemas/Head"
          }
        }
      },
      "SchoolInfoRowSection": {
        "type": "object",
        "required": [
          "row"
        ],
        "properties": {
          "row": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SchoolInfo"
            }
          }
        }
      },
      "SchoolInfo": {
        "type": "object",
        "required": [
          "ATPT_OFCDC_SC_CODE",
          "ATPT_OFCDC_SC_NM",
          "SD_SCHUL_CODE",
          "SCHUL_NM",
          "SCHUL_KND_SC_NM",
          "LCTN_SC_NM",
          "JU_ORG_NM",
          "FOND_SC_NM",
          "LOAD_DTM"
        ],
        "properties": {
          "ATPT_OFCDC_SC_CODE": {
            "type": "string",
            "description": "시도교육청코드"
          },
          "ATPT_OFCDC_SC_NM": {
            "type": "string",
            "description": "시도교육청명"
          },
          "SD_SCHUL_CODE": {
            "type": "string",
            "description": "행정표준코드"
          },
          "SCHUL_NM": {
            "type": "string",
            "description": "학교명"
          },
          "ENG_SCHUL_NM": {
            "type": "string",
            "nullable": true,
            "description": "영문학교명"
          },
          "SCHUL_KND_SC_NM": {
            "type": "string",
            "description": "학교종류명"
          },
          "LCTN_SC_NM": {
            "type": "string",
            "description": "시도명"
          },
          "JU_ORG_NM": {
            "type": "string",
            "description": "관할조직명"
          },
          "FOND_SC_NM": {
            "type": "string",
            "description": "설립명"
          },
          "ORG_RDNZC": {
            "type": "string",
            "nullable": true,
            "description": "도로명우편번호"
          },
          "ORG_RDNMA": {
            "type": "string",
            "nullable": true,
            "description": "도로명주소"
          },
          "ORG_RDNDA": {
            "type": "string",
            "nullable": true,
            "description": "도로명상세주소"
          },
          "ORG_TELNO": {
            "type": "string",
            "nullable": true,
            "description": "전화번호"
          },
          "HMPG_ADRES": {
            "type": "string",
            "nullable": true,
            "description": "홈페이지주소"
          },
          "COEDU_SC_NM": {
            "type": "string",
            "nullable": true,
            "description": "남녀공학구분명"
          },
          "ORG_FAXNO": {
            "type": "string",
            "nullable": true,
            "description": "팩스번호"
          },
          "HS_SC_NM": {
            "type": "string",
            "nullable": true,
            "description": "고등학교구분명"
          },
          "INDST_SPECL_CCCCL_EXST_YN": {
            "type": "string",
            "nullable": true,
            "description": "산업체특별학급존재여부"
          },
          "HS_GNRL_BUSNS_SC_NM": {
            "type": "string",
            "nullable": true,
            "description": "고등학교일반전문구분명"
          },
          "SPCLY_PURPS_HS_ORD_NM": {
            "type": "string",
            "nullable": true,
            "description": "특수목적고등학교계열명"
          },
          "ENE_BFE_SEHF_SC_NM": {
            "type": "string",
            "nullable": true,
            "description": "입시전후기구분명"
          },
          "DGHT_SC_NM": {
            "type": "string",
            "nullable": true,
            "description": "주야구분명"
          },
          "FOND_YMD": {
            "type": "string",
            "pattern": "^[0-9]{8}$",
            "example": "19641112",
            "nullable": true,
            "description": "설립일자"
          },
          "FOAS_MEMRD": {
            "type": "string",
            "nullable": true,
            "description": "개교기념일이며 일반적으로 MMDD 또는 YYYYMMDD 형식입니다."
          },
          "LOAD_DTM": {
            "type": "string",
            "description": "정보 수정 및 적재 일자"
          }
        }
      },
      "MealServiceDietInfoResponse": {
        "type": "object",
        "required": [
          "mealServiceDietInfo"
        ],
        "properties": {
          "mealServiceDietInfo": {
            "type": "array",
            "minItems": 2,
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MealInfoHeadSection"
                },
                {
                  "$ref": "#/components/schemas/MealInfoRowSection"
                }
              ]
            }
          }
        }
      },
      "MealInfoHeadSection": {
        "type": "object",
        "required": [
          "head"
        ],
        "properties": {
          "head": {
            "$ref": "#/components/schemas/Head"
          }
        }
      },
      "MealInfoRowSection": {
        "type": "object",
        "required": [
          "row"
        ],
        "properties": {
          "row": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MealServiceDietInfo"
            }
          }
        }
      },
      "MealServiceDietInfo": {
        "type": "object",
        "required": [
          "ATPT_OFCDC_SC_CODE",
          "ATPT_OFCDC_SC_NM",
          "SD_SCHUL_CODE",
          "SCHUL_NM",
          "MMEAL_SC_CODE",
          "MMEAL_SC_NM",
          "MLSV_YMD",
          "DDISH_NM",
          "LOAD_DTM"
        ],
        "properties": {
          "ATPT_OFCDC_SC_CODE": {
            "type": "string",
            "description": "시도교육청코드"
          },
          "ATPT_OFCDC_SC_NM": {
            "type": "string",
            "description": "시도교육청명"
          },
          "SD_SCHUL_CODE": {
            "type": "string",
            "description": "행정표준코드"
          },
          "SCHUL_NM": {
            "type": "string",
            "description": "학교명"
          },
          "MMEAL_SC_CODE": {
            "type": "string",
            "description": "식사코드"
          },
          "MMEAL_SC_NM": {
            "type": "string",
            "description": "식사명"
          },
          "MLSV_YMD": {
            "$ref": "#/components/schemas/DateYmd"
          },
          "MLSV_FGR": {
            "type": "string",
            "nullable": true,
            "description": "급식인원수"
          },
          "DDISH_NM": {
            "type": "string",
            "description": "요리명"
          },
          "ORPLC_INFO": {
            "type": "string",
            "nullable": true,
            "description": "원산지정보"
          },
          "CAL_INFO": {
            "type": "string",
            "nullable": true,
            "description": "칼로리정보"
          },
          "NTR_INFO": {
            "type": "string",
            "nullable": true,
            "description": "영양정보"
          },
          "MLSV_FROM_YMD": {
            "type": "string",
            "pattern": "^[0-9]{8}$",
            "example": "20260801",
            "nullable": true,
            "description": "급식시작일자"
          },
          "MLSV_TO_YMD": {
            "type": "string",
            "pattern": "^[0-9]{8}$",
            "example": "20260831",
            "nullable": true,
            "description": "급식종료일자"
          },
          "LOAD_DTM": {
            "type": "string",
            "description": "적재일시"
          }
        }
      }
    }
  }
}
